body {
    background-image: url('/static/imgs/squared_metal.png');
    background-repeat: repeat;
}

img.item-image {
    max-height: 200px;
    display: block;
    margin: auto;
}

h1.picture-header {
    display: block;
    margin: auto;
    text-align: center;
}

div.row-game {
    margin-top: 50;
}

.item-name {
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
}

img.fighter {
    float: left;
    max-height: 200px;
}

img#robot {
    padding-bottom: 10px;
    margin-left: 50px;
}

img#hipster {
    margin-left: 40px;
}
