body {
    background-image: url('/static/imgs/squared_metal.png');
    background-repeat: repeat;
}

img.item-image {
    max-height: 200px;
    display: block;
    margin: auto;
}

div.row-game {
    margin-top: 75px;
}

.item-name {
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
}
